<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  </head>

  <body>
    <main class="wrap">
      <aside class="left">
        <div class="card">
          <img class="avatar" src="{{ '/assets/img/profile.jpg' | relative_url }}" alt="Profile photo">

          <h1 class="name">Jeganathan Duraisamy</h1>
          <p class="tagline">Data Analyst | Fraud Risk & Financial Analytics</p>

          <div class="buttons">
            <a class="btn" href="https://github.com/samplerittgithub" target="_blank" rel="noopener">View GitHub</a>
            <a class="btn" href="https://www.linkedin.com/in/jegan-d-a57a80236" target="_blank" rel="noopener">LinkedIn</a>
            <a class="btn" href="#" aria-disabled="true" class="btn disabled">Download CV</a>
          </div>

          <p class="small">UK • Python • SQL • AWS • Power BI</p>
        </div>
      </aside>

      <section class="right">
        {{ content }}
      </section>
    </main>
  </body>
</html>

